<h1><%= I18n.t('books.title') %></h1>

<div class="row">
	<div class="col-md-2 btn-group pull-right">
		<%= link_to new_book_path, class: "btn btn-primary" do 
				fa_icon "plus-circle", text: I18n.t('books.create_book')
			 end %> 
	</div>
</div>
<div class="main-view">
	<div class="table-responsive">
		<table class="table table-hover table-borderless">
			<tbody>	
			<% @books.each do |book| %>			
				<tr>
					<td>
						<%= book.image_url.present? ? image_tag(book.image_url, alt: "image", size: "50") : fa_icon("book", class: "fa-3x")  %>		
					</td>
					<td>
						<%= link_to truncate(book.title, length: 80), book_path(book) %>
					</td>
					<td>
						 <div class="btn-group">
						 	<%= link_to edit_book_path(book), class: 'btn btn-sm btn-default' do
							 	fa_icon "pencil-square-o", text: I18n.t('general.edit')
							end %>
							<%= content_tag :a, "Modal", href: "#modal_#{book.id}", class: 'btn btn-sm btn-danger', data: {toggle: 'modal'} do
								fa_icon "trash-o", text: I18n.t('general.delete')
								end %>
							<%= modal_dialog id: "modal_#{book.id}",
				         header: { show_close: true, dismiss: 'modal', title: I18n.t('books.modal.delete_header') },
				         body:   { content:  raw(I18n.t('books.modal.delete_body', title: book.title))},
				         footer: { content: link_to(I18n.t('general.delete'), book_path(book), method: :delete, class: 'btn btn-sm btn-danger') } %>
						</div>	
					</td>
				</tr>
			<% end %>				
		</tbody>
		</table>
	</div>
	<div class="pagination-custom">
		<%= paginate @books, theme: 'twitter-bootstrap-3' %>
	</div>
</div>




