<h1><%= @book.title %></h1>
<div class="main-view">
	<div class="row">
		<div class="col-md-2">
			<%= @book.image_url.present? ? image_tag(@book.image_url, alt: "image", size: "150") : fa_icon("book", class: "fa-5x") %>
		</div>
		<div class="col-md-10">
			<p><%= @book.description %></p>
		</div>
	</div>

	<% if @chapters.any? %>
		<% @chapters.each do|chapter| %>
			<div class="chapter-detail">
				<h2><%= chapter.title %></h2>
				<p><%= chapter.content %></p>
			</div>
		<% end %>
	<% end %>
</div>
<div class="btn-group">
 	<%= link_to I18n.t('general.back'), books_path, class: 'btn btn-sm btn-default' %>
</div>