<!DOCTYPE html>
<html>
  <head>
    <title>Books Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar responsive: true, brand: image_tag("book_logo.png", alt: "Books Project", class: "img-circle logo-app") do %>
      <%= menu_group do %>
        <%= menu_item I18n.t('menu.home'), books_path %>
      <% end %>
      <%= menu_group pull: :right do %>
        <%= drop_down fa_icon "flag-o" do %>
          <%= menu_item link_to 'ES'.html_safe, { :locale=>'es' } %>
          <%= menu_item link_to 'EN'.html_safe, { :locale=>'en' } %>
        <% end %>
      <% end %>      
    <% end %>
	  <div class="container">
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
      <% end %>
      <%= yield %> 
    </div>       
  </body>
</html>
